name: Deploy Node.js to EC2

on:
    push:
        branches:
            - master

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy to EC2 via SSH
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ec2-user
                  key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                  script: |
                      cd /var/www/app
                      git pull origin master
                      npm install
                      npm run build:aws

                      pm2 startOrRestart ecosystem.config.json --env production --set-env AWS_REGION=us-east-1
